* {
  box-sizing: border-box;
}

body {
  background-color: #C1C1C1;
}

div[class^="col"] {
  order: 1px solid red;
  min-height: 4rem;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  
}

.header {
  order: 1px solid green;
  height: 4rem;
  background-color: rgb(220, 220, 220);
}

.header img {
  height: 4rem;
}

.navigation {
  position: relative;
}

.navigation--item {
  margin-right: 0.625rem;
  font-size: 1.2rem;
  line-height: 2.8rem;
  padding: 0 !important;
  height: 50px;
  font-weight: 600;
  position: relative;
}

.navigation--item:hover a {
  background-color: #0082A4;
  color: white;
}

.navigation--item.active:after {
  content: '';
  display: block;
  height: 0.1875rem;
  width: 100%;
  background-color: #0082A4;
  position: absolute;
  bottom: 0.625rem;
  left: 0;
}

.navigation--item a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 0 0.625rem;;
  color: #0082A4;
  display: block;
  transition: all .3s;
  position: relative;
  z-index: 10;
}

.request--offer {
  box-sizing: content-box;
  position: relative;
  background-color: #FFBB00;
  transition: all .3s;
}

.request--offer:before {
  content: '';
  display: block;
  position: absolute;
  left: -2rem;
  top: 0;
  width: 2.5rem;
  height: 100%;
  background-color: #FFBB00;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 43% 100%);
  transition: all .3s;
}

.request--offer a {
  order: 1px solid red;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 100px;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.request--offer:hover {
  background-color: #0082A4;
}

.request--offer:hover a {
  color: white;
}

.request--offer:hover:before{
  background-color: #0082A4;
}

.hamburger--icon {
  cursor: pointer;
  width: 4rem;
  height: 3.125rem;
  overflow: hidden;
}

.hamburger--line {
  width: 3rem;
  max-width: 100%;
  height: 0.1875rem;
  background-color: #0082A4;
  transition: all .3s;
  position: relative;
  opacity: 1;
}

.hamburger--line:before,
.hamburger--line:after {
  content: '';
  font-display: block;
  position: absolute;
  transform: translateY(-15px);
  width: 4.0625rem;
  max-width: 100%;
  height: 0.1875rem;
  background-color: #0082A4;
  transition: all .3s;
}

.hamburger--line:after {
  transform: translateY(0.9375rem);
}

.hamburger--icon.open .hamburger--line{
  transform: translateX(5rem);
}

.hamburger--icon.open .hamburger--line:before {
  transform: translateX(-5rem) rotate(45deg);
}

.hamburger--icon.open .hamburger--line:after {
 transform: translateX(-5rem) rotate(-45deg);
}

.hamburger--main {
  position: relative;
}

.hamburger--menu {
  position: absolute;
  top: 4rem;
  right: -12.5rem;
  width: 12.5rem;
  background-color: rgb(220, 220, 220);
  height: calc(100vh - 6.25rem);
  transition: all .3s;
  z-index: 10;
}

.hamburger--menu--item {
  height: 2.1875rem;
  line-height: 2.1875rem;
  text-decoration: none;  
  font-size: 1.1rem;
  font-weight: 600;
  transition: all .3s;
  cursor: pointer;
}

.hamburger--menu--item.yellow--bg {
  background-color: #FFBB00;;
}

.hamburger--menu--item:hover {
  background-color: #0082A4;
}

.hamburger--menu--item a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #0082A4;
  transition: all .3s;
}

.hamburger--menu--item:hover a {
  color: white;
}

.hamburger--icon.open + .hamburger--menu {
  transform: translateX(-12.5rem);
}

section {
  border-top: 1px solid #0082A4;
  border-bottom: 1px solid #0082A4;
}

section:nth-child(1),
section:nth-last-child(1)  {
  border: none;
}

section.border--none {
  border: none;
}

section.border--top--none {
  border-top: none;
}

section.border--bottom--none {
  border-bottom: none;
}


.main--photo {
  height: calc(50vh + 2px);
  position: relative;
}

.main--photo img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: 50% 10%;
}

.main--photo--text {
  background-color: rgba(255,255,255, .8);
  border-radius: 1rem;
  border: 1px solid #0082A4;
  position: absolute;
  top: 10%;
  left: .5rem;
  padding: 1rem 1rem 0 1rem;
}

.main--photo--text h1 {
  font-size: 1.4rem;
}

.main--photo--text h1 span {
  color: #0082A4;
}

.main--photo--text h1:after {
  content: "";
  display: block;
  height: 3px;
  background-color: #0082A4;
} 

.main--photo--text p {
  padding-left: 10px;
  font-size: 1rem;
}

.introduction {
  overflow: hidden;
  border-bottom: 1px solid #0082A4;
  border-top: 1px solid #0082A4;
  background-color: white;
}

.introduction .img--holder {
  background-color: black;
  padding: 0 !important;
  position: relative;
  height: 30rem;
}

.introduction img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: center;
  opacity: .7;
}

.introduction .img--title {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 20rem;
  height: 4.5rem;
  font-size: 1.2rem;
  background-color: #0082A4;
  color: white;
}

.introduction .img--title:after {
  position: absolute;
  content: '';
  width: 30px;
  height: 100%;
  top: 0;
  right: -30px;
  background-color: #0082A4;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
}

.content {
  padding: 20px;
}

.content h3 {
  font-size: 1.4rem;
  position: relative;
  margin-bottom: 1.3rem;
}

.content h3:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 40%;
  height: 3px;
  background-color: #0082A4;
}

.content p {
  padding: 0 10px;
  font-size: 1rem;
}

.services {
  margin: 6rem 0 -4rem;
}

.services div[class^="col"]  {
  padding: 0 !important;
}

.services--content--holder {
  padding: 10px;
  margin-bottom: 6rem;
  height: 100%;
}

.services--content {
  width: 95%;
  padding: 3.5rem 0 0 10px;
  border: 3px solid white;
}

.content--text {
  font-size: 1rem;
  height: 100%;
}

.content--text h3 {
  font-size: 1.4rem;
  position: relative;
  margin-bottom: 1.3rem;
}

.content--text p {
  font-size: .9rem;
}

.content--text h3:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 12rem;
  max-width: 100%;
  height: 3px;
  background-color: #0082A4;
}

.content--pic {
  width:8rem;
  height: 8rem;
  border: 3px solid white;
  position: absolute;
}

.content--pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;    
}

.services--content--holder.right--pic > .services--content > .content--pic,
.services--content--holder.left--pic > .services--content > .content--pic  {
  right: 4rem;
  top: -4rem;
}

.contacts--us {
  padding-top: 2rem;
  background-color: white;
}

.contacts--info--text {
  padding: 10px;
}

.contacts--info--text .contacts--section {
  margin-bottom: 1.5rem;
}

.contacts--info--text h3 {
  font-size: 1.4rem;
  position: relative;
  margin-bottom: 1.3rem;
}

.contacts--info--text h3:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 20rem;
  max-width: 100%;
  height: 3px;
  background-color: #0082A4;
}

.contacts--info--text p {
  font-size: .9rem;
  margin: 0 !important;
}

.contacts--info--text p {
  font-size: .9rem;
  margin-bottom: 1.5rem;
}

.contacts--info--text p.blue,
.contacts--info--text span.blue  {
  color: #0082A4;
}

.contacts--info--text p.big {
  font-size: 1rem;
}

.contacts--info--text p.small {
  font-size: 0.8rem;
}

.form--group--holder {
  margin-top: 1rem;
}


.form--group--holder button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #0082A4;
  font-size: 1.5rem;
  color: white;
}
.input--col {
  width: 100% !important;
  height: 40px;
  border: none;
  position: relative;
  padding: 0 !important;
  min-height: 0 !important;
  height: 50px;
  margin-bottom: 1rem;
}

.input--col.message {
  height: 120px;
}

.input--col span {
  position: absolute;
  left: 10px;
  display: block;
  width: 90%;
  font-size: 1rem;
  top: 1rem;
  opacity: .8;
  user-select: none;
  pointer-events: none;
  transition: all .3s;
}

.input--col input,
.input--col textarea {
  width: calc(100% - 20px);
  height: 100%;
  border: none;
}

*:focus {
  outline: none;
  box-shadow: none !important;
}

.input--col input:focus + span,
.input--col textarea:focus + span,
.input--col input:valid + span,
.input--col textarea:valid + span {
  transform: translateY(-25px);
  font-size: .8rem;
}

.input--col:after {
  content: '';
  width: 100%;
  display: block;
  height: .125rem;
  background-color: #0082A4;
  position: absolute;
  bottom: 5px;
  width: calc(100% - 20px);
  left: 5px;
}

.footer {
  background-color: rgb(50,50,50);
  color: white;
  padding: 1rem 0;
}

.footer img {
  height: 4rem;
  margin-bottom: 1rem;
}

.footer .blue {
  color: #0082A4;
}

.footer h3 {
  font-size: 1.4rem;
}

.footer li {
  list-style-type: '| ';
  color: #0082A4;
  font-size: 1.1rem;
  margin-bottom: .3rem;
  margin-left: .5rem;
}

.footer a {
  text-decoration: none;
}

.footer a:hover li p {
  color: #0082A4;
}

.map {
  padding: 10px;
}

.footer li p {
  color: white;
  display: inline-block;
  margin: 0;
}

@media only screen and (min-width: 992px) {
  
  .main--photo--text {
    left: 3rem;
    padding: 2rem 2rem 1rem 2rem;
  }

  .main--photo--text h1 {
    font-size: 1.8rem;
  }

  .main--photo--text p {
    padding-left: 10px;
    font-size: 1.1rem;
  }
  
  .header {
    height: 6.25rem;
  }
  
  .header img {
    height: 6.25rem;
  }

  .request--offer {
    position: absolute;
    right: 0;
    top: 0;
  }

  .services {
    margin: 2rem 0;
  }

  .services--content {
    border: 3px solid white;
    width: 85%;
    height: 100%;
    padding: 10px 0 0 10px;
    padding-right: 4rem;
    position: relative;
  }

  .services--content--holder {
    margin-bottom: 0rem;
  }

  .content--text h3 {
    font-size: 1.5rem;
  }

  .content--text p {
    font-size: 1rem;
  }

  .services--content--holder.right--pic > .services--content > .content--pic {
    right: -4rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .services--content--holder.left--pic > .services--content > .content--pic {
    left: -4rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .services--content--holder.left--pic > .services--content {
    padding: 10px 0 0 5rem;
  }

  .introduction {
    height: 30rem;
  }

  .contacts--info--text h3 {
    font-size: 1.5rem;
  }
  
  .contacts--info--text p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .contacts--info--text p.blue,
  .contacts--info--text span.blue  {
    color: #0082A4;
  }
  
  .contacts--info--text p.big {
    font-size: 1.2rem;
  }
  
  .contacts--info--text p.small {
    font-size: 0.9rem;
  }
  
}

@media only screen and (min-width: 1010px) {
  .request--offer {
    position: relative;
  }  
}